@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;700&display=swap');

:root {
   --primary: #0d6efd;
   --dark: #21252f;
   --body: #888;
   --white: #ffffff;
   --box-shadow: 0 8px 22px rgba(0,0,0,0.1);
}

h1,h2,h3,h4,h5,h6,
.display-4 {
    color: var(--dark);
    font-weight: 700;
}

a {
    color: var(--dark);
    text-decoration: none;
}

img {
    width: 100%;
}

.navbar {
   box-shadow: var(--box-shadow);
}

.logo {
    width: 160px;
}

.navbar .nav-link {
    font-size: 14px;
    font-weight: 700;
}

.navbar .nav-link.active {
    color: var(--primary) !important;
}