:root {
   --gray1: #f1f3ff;
   --brand: #0d28a6;
   --white: #fff;
   --button: #5cb85f;
 }

 body {
   
   display: initial !important;
   place-items: center;
   min-width: 320px;
   min-height: 100vh !important;
}
 
 main {
   max-width: 1440px;
   margin: 0 auto;
 }
 
 h1,
 h2,
 h3,
 h4,
 h5,
 h6,
 p {
   color: #000;
   font-weight: 700;
   font-family: Arial;
 }
 
 a {
   transition: all 0.4s ease;
   color: white;
   text-decoration: none;
   font-weight: 500;
 }
 
 a:hover {
   color: var(--brand);
 }
 
 img {
   width: 100%;
 }
 
 .jumbotron{
   background-color: var(--gray1);
 }
 
 .col-lg-6 {
   padding-right: 1.36rem;
 }
 
 .display-1 {
   width: 568px;
   font-size: 36px;
   line-height: 54px;

 }
 
 .lead {
   width: 468px;
   font-size: 14px;
   line-height: 20px;
   font-weight: 700;
 }
 
 .carImg {
   width: 704px;
   max-width: 704px;
   height: auto;
 }
 
 .happyGirl {
   width: 100%;
   max-width: 374px;
   height: auto;
 }
 
 .checkList {
   width: 24px;
   height: 24px;
   margin-right: 16px;
   align-items: center;
 }
 
 ul {
   list-style-type: none;
   padding-left: 0;
   margin: 0;
 }
 
 ul li {
   display: flex;
   margin-bottom: 16px;
 }
   .RentNow {
      margin-top: 156px;
      padding-top: 64px;
      display: flex;
      justify-content: right;
      flex-direction: column;
      align-items: center;
      width: 100%; /* Adjust as needed */
      height: 100%; /* Adjust as needed */
      background-color: var(--brand);
      min-height: 326px !important;
      margin-bottom: 90px;

    }
 
    .greenButton {
      margin-top:56px ;
      margin-bottom: 64px;
      background-color: #5CB85F; /* You can replace 'green' with your desired shade of green */
      color: white; /* Text color */
      padding: 10px 20px; /* Adjust padding as needed */
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }

    .FAQ{
      min-height:50vh;
    }