

  .swiper-slide {
      background: #F1F3FF;
      border-radius: 8px;
      padding: 28px;
      width: 619px !important;
      box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    }
    
    .testi-content {
      padding-top: 10px;
      height: 230px;
      display: flex;
      align-items: center;
    }
  
    .desc-testi {
      font-weight: 700;
      font-size: 14px;
      line-height: 20px;
    }
    

